body { 
	font: 8pt/1.0em Baskerville; 
	margin: 10px 30px; 
}

p {
	text-indent: -20;
	margin-top: 3;
	margin-bottom: 3;
}

span.w { font-weight: bold; }

span.s10000 { font: 32pt/0.9em Baskerville; }
span.s5000 { font: 30pt/0.9em Baskerville; }
span.s2000 { font: 28pt/0.9em Baskerville; }
span.s1000 { font: 26pt/0.9em Baskerville; }
span.s500 { font: 24pt/0.9em Baskerville; }
span.s200 { font: 22pt/0.9em Baskerville; }
span.s100 { font: 20pt/0.9em Baskerville; }
span.s50 { font: 18pt/0.9em Baskerville; }
span.s20 { font: 16pt/1.0em Baskerville; }
span.s10 { font: 14pt/1.0em Baskerville; }
span.s5 { font: 12pt/1.1em Baskerville; }
span.s2 { font: 10pt/1.1em Baskerville; }
span.s1 { font: 8pt/1.1em Baskerville; }
