body {
	background-color: white;
	margin: 20px;
}

a {
	color: #999;
	text-decoration: none;
}

.contents {
	display: inline-block;
	vertical-align: top;
	width: 290px;
	font: 18pt Avenir; 
	color: #999;
}

.contents ul {
	margin-top: 0px;
}

.contents ul li a {
	color: #999;
}

.contents ul li.section {
	color: black;
}

.contents ul li.section a {
	color: black;
}

.link {
	color: black;
}

.todo {
  opacity: 0.4;	
}

.dark {
	color: #444;
}

.strike {
	text-decoration: line-through;
}

.smallSpace {
	font: 10pt Avenir; 
}

.largeSpace {
	font: 20pt Avenir; 
}

.headline {
	margin-bottom: 20px;
	font: 48pt Avenir;
	white-space: nowrap;
	position: relative;
	z-index: 10;
}

.large {
	font: 48pt Avenir; 
	color: #999;
/*  white-space: nowrap;*/
}

.fours {
	font: 24pt Avenir; 
	color: #999;
}

.caption, .small {
	font: 24pt Avenir; 
	color: #999;
	white-space: normal;
}

.medium {
	font: 36pt Avenir; 
	color: #999;
/*  white-space: nowrap;*/
}

.portfolio h1 {
	font: 36pt Avenir; 
	margin-bottom: 0pt;
	color: black;
}
	
.portfolio h2 {
	font: 36pt Avenir; 
	margin-bottom: 0pt;
	color: #999;
}
	
.portfolio p {
	font: 16pt Avenir; 
	margin-top: 8px;
	color: #999;
}

.carousel {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}
 
.portfolio img {
  width: 220px;
  height: 220px;
  padding: 0px 20px 20px 0px;
	flex: 0 0 auto; 
}

.portfolio img.natgeo {
	width: 153px;
}

.portfolio a {
  color: black;
}

.text {
	font: 32pt Avenir; 
	color: #999;
	min-width: 900px;
}

.poetry {
	font: 24pt Avenir; 
	color: #999;
}

.tiny {
	font: 16pt Avenir; 
	color: #999;
	white-space: nowrap;
}

.russian {
	font-weight: lighter;
  letter-spacing: 0.1rem;
}

.airport {
	font: 29pt Menlo; 
	color: #777;
	position: relative;
	top: -6px;
}

.coords {
	font: 28pt "SF Mono", Menlo; 
	color: #777;
	position: relative;
	top: -8px;
  white-space: pre;
}

.mapcap {
	font: 10pt Avenir; 
	color: #999;
}

.imagepopup {
  min-height: 120px;
}

.caption .airport {
	font: 16pt Menlo; 
	top: -3px;
}

.icon {
	width: 43px;
	height: 43px;
	position: relative;
	top: 0px;
}

.hirothumb {
	width: 120px;
	height: 80px;
}

.icon-large {
	width: 64px;
	height: 64px;
	position: relative;
	top: 8px;
}

.icon-large {
	width: 64px;
	height: 64px;
	position: relative;
	top: 8px;
}

.state-large {
  width: 61px;
  padding: 0px 1.5px 0px 1.5px;
	position: relative;
	top: 8px;
}

.state-medium {
  width: 45.75px;
  padding: 0px 0px 0px 1px;
	position: relative;
	top: 4px;
}

.state-small {
  width: 30.5px;
  padding: 0px 0px 0px 1px;
	position: relative;
	top: 4px;
}

.hike {
  width: 400px;
  height: 400px;
  padding: 10px;
	display: inline-block;
}

.images {
	white-space: nowrap;
}

.images {
  --gap: 30px;
  --tile: min(400px, calc((100vw - 120px) / 3));
}

.images {
  --gap: 30px;
  --tile: min(400px, calc((100vw - 120px) / 3));
  --big: min(830px, calc(var(--tile) * 2 + var(--gap)));

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--gap);
  margin: 20px 0px 10px 10px;
}

.images img {
  width: var(--tile);
  height: var(--tile);
  display: block;
  border-radius: 25px;
  color: white;
}

/* 1 image: always big */
.images.single img {
  width: var(--big);
  height: var(--big);
}

/* 2 or 3 small default */
.images.triple img,
.images.double img {
  width: var(--tile);
  height: var(--tile);
}

.images.hero3 {
  display: grid;
  grid-template-columns: var(--big) var(--tile);
  grid-template-rows: var(--tile) var(--tile);
  gap: var(--gap);
  align-items: start;
}

.images.hero3 a:nth-child(1) {
  grid-row: 1 / span 2;
  grid-column: 1;
}

.images.hero3 a:nth-child(2) {
  grid-row: 1;
  grid-column: 2;
}

.images.hero3 a:nth-child(3) {
  grid-row: 2;
  grid-column: 2;
}

/* now just size the images */
.images.hero3 a:nth-child(1) img {
  width: var(--big);
  height: var(--big);
}

.images.hero3 a:nth-child(2) img,
.images.hero3 a:nth-child(3) img {
  width: var(--tile);
  height: var(--tile);
}

.images.sixpack {
  display: grid;
  grid-template-columns: var(--tile) var(--tile) var(--tile);
  grid-auto-rows: var(--tile);
  gap: var(--gap);
}

.images img {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
}

.hiroshima tr td {
  vertical-align: top;
}

.hiroshima tr td.items {
  padding-left: 20px;
  padding-right: 20px;
}

.russian {
	font-weight: lighter;
}

.flags {
	background: white;
	margin-top: -20px;
	margin-left: -22px;
	border-spacing: 0px;
}

.flags-wider {
	margin-top: -30px;	
}

.coins {
	margin-top: -20px;
}

.flags td:not(:first-child) {
	text-align: center;
	padding: 2px 5px;
}

.confluence td:first-child {
	text-align: right;
	padding: 2px 5px;
}

.confluence td:not(:first-child) {
	text-align: left;
	padding: 2px 5px;
}

.flags td {
	white-space: nowrap;
}

.flags tr>th:first-child, .flags tr>td:first-child {
	background: white;
	position: sticky;
    left: 0;
	padding-left: 19px;
}
  
.flags tr>th:first-child {
	background: white;
	position: sticky;
    left: 0;
	top: 0;
	z-index: 5;
}

.flags tr>th:first-child {
	font-weight: normal;
	text-align: left;
	color: black;
}

.flags tr>th:first-child, .flags tr>td:first-child {
	background: white;
	position: sticky;
    left: 0;
	padding-left: 19px;
}

.flags tr:nth-child(even) {
	background: #f6f6f6;
}
  
.flags tr:nth-child(even) td {
	background: #f6f6f6;
}
  
.flags th:not(:first-child) {
	padding: 0px 3px;
	background: white;
	text-align: center;
	position: sticky;
	top: 0;
}

.coins th:not(:first-child) {
	font-weight: normal;
	padding: 0px 7px;
	width: 40px;
}

.coins th:nth-child(4), .coins th:nth-child(7), .coins th:nth-child(10), .coins th:nth-child(14), .coins th:nth-child(18), .coins th:nth-child(22), .coins td:nth-child(4), .coins td:nth-child(7), .coins td:nth-child(10), .coins td:nth-child(14), .coins td:nth-child(18), .coins td:nth-child(22) {
	border-right: solid 1px #666;
}

.coins td {
  min-width: 50px;
}

.flags-container {
	overflow-x: visible;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	background-color: #666;
	white-space: nowrap;
	color: #fff;
	font-weight: normal;
	text-align: center;
	padding: 0px 7px;
	border-radius: 6px;
	font: 18pt Avenir;

	position: absolute;
	bottom: -34px;
	left: -5px;
	text-align: center;
	z-index: 200;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.fraction {
	position: relative;
	top: 0.13em;
	display: inline-block;
	color: white;
  background: linear-gradient(to bottom, #86A2C1, #687D96);
	padding: 0px 0.08em;
	height: 1.0em;
  text-align: center;
  width: 0.9em;
	border-radius: 0.25em;
  
  border: 0.07em solid #5a7c96;
  box-shadow: inset 0 0.05em 0.1em rgba(255, 255, 255, 0.5);
  transform: scale(0.89);
}

.fraction div {
	position: relative;
	top: -0.14em;
	display: inline-block;
}

.irving {
	background: white;
	margin-top: -20px;
	margin-left: -22px;
	border-spacing: 0px;
}

.irving td {
	white-space: nowrap;
}

.irving tr>th:first-child, .irving tr>td:first-child {
	padding-left: 19px;
}

.irving tr:nth-child(even) td {
	background: #f6f6f6;
}
  
.irving th:not(:first-child), .irving td:not(:first-child) {
	padding: 0px 20px;
	text-align: center;
}

.flags-wider th:not(:first-child), .flags-wider td:not(:first-child) {
	padding: 0px 15px;
	text-align: center;
}

.skate {
	width: 300px;
}

.portfolio img.iconquer {
	width: auto;
	vertical-align: top;
}

.stones {
	width: 120px;
	height: 120px;
	vertical-align: middle;
	padding: 5px 0px 15px 0px;
}

@media (prefers-color-scheme: dark) {
  body {
  	background-color: black;
  }

	.headline {
		color: white;
	}
	
	a {
		color: #666;
	}

	.link {
		color: white;
	}

	.dark {
		color: #BBB;
	}
	
	.items, .fours, .caption, .medium, .text, .tiny {
		color: #666;
	}

	.contents, .contents ul li a {
		color: #666;q2covx ;1 qaQ1A
	}

	.contents ul li.section, .contents ul li.section a {
		color: white;
	}
	
	.portfolio a, .portfolio h1 {
		color: white;
	}
	
	.portfolio h2, .portfolio p {
		color: #666;
	}
}

.selected {
	color: #43C6DB;
}

#map {
	width: min(1260px, calc(100vw - 60px));
	height: 600px;
	margin-left: 10px;
	margin-bottom: 30px;
  border-radius: 25px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
}

.inlineVideo {
	width: min(1260px, calc(100vw - 60px));
	height: calc(min(1260px, calc(100vw - 60px)) / 16 * 9);
	margin: 15px 0px -15px 10px;
  border-radius: 25px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
}

.emoji-pin.markerBeen {
  background-image: url('images/pins/marker-icon-2x-green.png');
  background-size: cover;
}

.emoji-pin.markerNear {
  background-image: url('images/pins/marker-icon-2x-gold.png');
  background-size: cover;
}

.emoji-pin.markerTodo {
  background-image: url('images/pins/marker-icon-2x-red.png');
  background-size: cover;
}

.markerStrike {
	opacity: 0.5;
}

.leaflet-popup-content {
  font-family: 'Avenir', sans-serif;
  font-size: 14pt !important;
}

.leaflet-popup-content a {
  color: #999 !important;
  text-decoration: none;
}

.emoji-pin {
  background-image: url('https://unpkg.com/leaflet@1.9.4/dist/images/marker-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 41px;
  position: relative;
}

.pin-emoji {
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  pointer-events: none;
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 50%;
  color: white;
  text-align: center;
}

.marker-cluster div {
  width: 40px;
  height: 40px;
  font: 16px Avenir !important;
}

.marker-cluster span {
  line-height: 32px !important;
}

.marker-cluster-been div {
  background-color: #55AB3D;
}

.marker-cluster-near div {
  background-color: #F8D551;
}

.marker-cluster-todo div {
  background-color: #BA373E;
}

input[type="checkbox"].bingo {
  transform: scale(1.5);
  vertical-align: middle;
  margin-right: 6px;
  cursor: pointer;
}